<h1>Post A Book</h1>

<form action="/addbook" method="POST" >
  <div class="form-group">
    <label>Book Title</label>
    <input type="text" name="title" class="form-control">
  </div>
  <div class="form-group">
    <label>Author</label>
    <input type="text" name="author" class="form-control">
  </div>
  <div class="form-group">
    <label>Department</label>
    <input type="text" name="department" class="form-control">
  </div>
  <div class="form-group">
    <label>Price</label>
    <input type="number" name="price" class="form-control">
  </div>
  <div class="form-group">
    <button class="btn btn-success">Send</button>
  </div>
</form>
