<h2>BOOKSWAP</h2>
<div>
  <p>A marketplace for students to buy/sell textbooks.</p>
</div>
<br/>
  <form action="/searchresults" method="POST" >
    <div class="col-md-5 col-md-offset-3">
       <div class="input-group">
         <input type="text" class="form-control" placeholder="Search for...">
         <span class="input-group-btn">
           <button class="btn btn-info" type="button">Search BookSwap!</button>
         </span>
       </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </form>
  <br/>  <br/>  <br/>  <br/>


  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-info ">
        <div class="panel-heading"><h4>For buyers: </h4></div>
        <table class="table table-striped">
        <tbody>
          <tr>
            <td>1. Register and login to search for a book</td>
          </tr>
          <tr>
            <td>2. Contact seller</td>
          </tr>
          <tr>
            <td>3. Negotiate and settle on price with seller</td>
          </tr>
          <tr>
            <td>4. Decide where/when to meet seller</td>
          </tr>
          <tr>
            <td>5. Pick up your book!</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading"><h4>For sellers: </h4></div>
        <table class="table table-striped">
        <tbody>
          <tr>
            <td>1. Register and login to put books up</td>
          </tr>
          <tr>
            <td>2. Post book</td>
          </tr>
          <tr>
            <td>3. Wait to be contacted</td>
          </tr>
          <tr>
            <td>4. Meet and sell</td>
          </tr>
          <tr>
            <td>5. Delete book from Bookswap</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>

<br />


<!-- <span>Visit a page that requires you to be logged in</span> <a href="/profile" class="btn btn-primary">Here</a> -->
