<h3>Home</h3>
<p>Everyone visiting your site will be able to see this page, no login required</p>

<br />

<span>Visit a page that requires you to be logged in</span> <a href="/protected" class="btn btn-primary">Here</a>
