<!DOCTYPE html>

<html class="no-js" lang="en">
<head>
  <!-- title and meta -->
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0" name="viewport">
  <meta content="description" name="In this tutorial, we take a look at a beautiful parallax scrolling effect in the simplest of ways, with stationary backgrounds and scrolling content.">

  <title>Bates College Virtual Tour!</title>

  <!-- css -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/base.css">

  <script>
    var myVideo =  iframe.getElementById('myVideo');
    myVideo.mute();
  </script>
  <!-- js -->
</head>

<body>
<div class="wrapper">

  <main>

      <section class="module parallax parallax-5">
        <div class="container">
          <h1>Bates College</h1>
        </div>
      </section>

      <section class="module content">
        <div class="container">
          <h2>Bates College Virtual Tour</h2>
          <p>Bates College is a small liberal arts school in Lewiston, Maine.  This website is a virtual tour of our beautiful campus. Immerse yourselves by walking through buildings and exploring life at Bates.</p>
          <iframe id="myVideo" width=100% height="500" src="https://www.youtube.com/embed/sYAuX9mg9l0?autoplay=1&rel=0&loop=1&amp;controls=0&amp;showinfo=0&amp;start=6" frameborder="0" allowfullscreen></iframe>
        </div>
      </section>

      <section class="module parallax parallax-7">
        <div class="container">
          <h1>Virtual</h1>
        </div>
      </section>

      <section class="module content">
        <div class="container button-area-line">
          <a href="/home" class=" btn btn-primary btn-lg">Commons Hedge</a>
          <a href="/home" class=" btn btn-primary btn-lg">Athletic Tour</a>
          <a href="/home" class=" btn btn-primary btn-lg">Student Life</a>
          <a href="/home" class=" btn btn-primary btn-lg">Academic Tour</a>
        </div>
      </section>

      <section class="module parallax parallax-8">
        <div class="container">
            <h1>Campus</h1>
        </div>
      </section>

      <footer>
          <div class="copyright">
              <center><p>Independent Study: Virtual Tour of Bates</p></center>

          </div>


  </main><!-- /main -->
<!-- /footer -->

</div><!-- /#wrapper -->

<!-- analytics -->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-34160351-1']);
_gaq.push(['_trackPageview']);
(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

</body>
</html>
