body {
  min-height: 75rem;
  padding-top: 6.5rem;
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
}

.bates {
    background-color: #3a3a3a !important;
}

.batestext {
    color: #fff !important
}

.button {
    margin-bottom: 2em !important
}

.font {
    font-family: courier !important
}

.search {
    color: #fff !important;
    background-color: #337ab7 !important;

}

.profile {
    text-decoration: underline !important;
}
